header {
    background-color: #ccc;
    background-image: url("../imgs/cubes.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
}
.sobre {
    position: absolute;
    top: 300px;
    left: 400px; 
    text-align: center;
    color: rgb(94, 94, 94);
    width: 500px;
}
.sobre h1 {
    font-family: var(--font1);
    font-weight: 500;
    color: white;
    font-size: 4em
}
.sobre h2 {
    font-family: var(--font2);
    color: white;
    font-size: 2em;
}
.conceito {
    background-image: linear-gradient(#fefefe 60%, rgb(149, 199, 255));
    height: 370px;
}
main > h1 {
    padding: 20px 0;
    font-family: var(--font3);
    font-size: 3.5em;
    text-align: center;
    position: relative;
    top: 60px;
}
.conceito h2 {
    font-family: var(--font3);
    margin-left: 200px;
    font-size: 3em;
    margin-top: 200px;
}
.conceito p{
    font-family: var(--font2);
    font-weight: 600;
    line-height: 1.5em;
    color: black;
    font-size: 1.7em;
    width: 500px;
    margin: 50px 0 0 70px;
    text-align: justify;
}
.conceito em {
    font-weight: bolder;
    font-size: 1.1em;
}
.conceito-img1 {
    position: relative;
    top: -300px;
    margin: 0 100px 0 0;
    float: right;
    width: 500px;
    height: 418px;
}
.beneficios {
    background-color: rgb(149, 199, 255);
    width: 100%;
    height: 600px;
}
.beneficios h2 {
    font-family: var(--font3);
    text-align: center;
    font-size: 3em;
}
.beneficios ul {
     position: absolute;
     margin: 30px 0 0 0;
    }
.beneficios ul li{
    text-align: center;
    font-size: 2em;
    display: inline;
    margin: 0 50px 0 50px;
}
.itens-beneficios p {
    margin-top: 10px;
}
.itens-beneficios {
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.452);
    transition: all .4s;
    vertical-align: top;
    background-color: rgb(194, 227, 255);
    width: 300px;
    height: 400px;
    min-height: 300px;
    border: 3px solid black;
    border-radius: 10px;
    display: inline-block;
    box-sizing: border-box;
}
.itens-beneficios img {
    width: 60%;
    display: inline-block;
    margin-top: 30px;
    border: 4px solid rgba(0, 0, 0, 0.062);
    border-radius: 100%;
}
.itens-beneficios .descricao {
    font-family: var(--font2);
    font-size: 20px;
    font-weight: 800;
}
.itens-beneficios:hover {
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.452);
    border-color: rgb(0, 0, 20);
    transition: all .4s;
    transform: scale(1.1);
}
.localizacao {
    height: 800px;
    width: 100%;
    background: linear-gradient(rgb(149, 199, 255) 20%, rgb(254, 254, 254));
}
.localizacao h2 {
    font-family: var(--font3);
    text-align: center;
    font-size: 2.5em;
}
.localizacao > p {
    text-align: center;
    font-size: 1.9em;
    margin-top: 30px;
}
.localizacao .mapa {
    text-align: center;
    margin: 50px 0 0 0;
    
}
.localizacao .map {
    transition: .3s;
    opacity: 0.8;
    box-shadow: 4px 4px 6px black;
    width: 1100px;
}
.localizacao .map:hover {
    transition: .3s;
    opacity: 1;
    box-shadow: 6px 6px 8px;
    transform: scale(1.01);
}
.localizacao small p{
    text-align: center;
    margin: 5px 0 0 0;
}
.planos {
    height: 600px;
    width: 100%;
    background-color: #fefefe;
    background-image: url("../imgs/bg-plano.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.planos > h1 {
    text-align: center;
    font-size: 3em;
    margin-bottom: 30px;
}
.cards-planos{
    text-align: center;
}
.itens-planos {
    border-radius: 10px;
    vertical-align: top;
    margin: 30px 20px;
    display: inline-block;
    width: 300px;
    height: 450px;
    border: 2px solid black;
}
.itens-planos > h2 {
    font-size: 3em;
    margin-top: 5px;
}
.itens-planos > span {
    font-size: 3em;
}

.itens-planos > span > p {
    padding: 30px 0;
}
.itens-planos > ul {
    margin-left: 46px;
    text-align: left;
    list-style: inside;
    font-size: 1.2em
}
.itens-planos > ul > li {
    margin: 5px 0
}
#planox {
    background-color: skyblue;
}
#planoxx {
    background-color: red;
}
#planoxxx {
    background-color: rebeccapurple;
}